parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../src/Orm/*
        - %rootDir%/../../../src/Mcrm/SoapType*
    bootstrapFiles:
        - %rootDir%/../../../ci/bootstrap.php
    ignoreErrors:
        - '/has no return typehint specified/'
        - '/no typehint specified/'
