parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Generated/*
        - %rootDir%/../../../src/Orm/*
        - %rootDir%/../../../src/Mcrm/SoapType*

    bootstrap: %rootDir%/../../../ci/bootstrap.php
